## *Data: Feature extraction, and visualization*

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [15]:
df=pd.read_csv("listings (1).csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,334127,Rental unit in Copenhagen · ★4.88 · 1 bedroom ...,1702034,Mette,NaN,Vesterbro-Kongens Enghave,55.67059,12.55651,Entire home/apt,1401,4,118,2022-09-11,0.87,1,42,5,NaN
1,338928,Rental unit in Copenhagen · ★4.91 · 1 bedroom ...,113348,Samy,NaN,Nrrebro,55.69388,12.54725,Entire home/apt,793,5,92,2023-03-22,0.69,1,5,4,NaN
2,338992,Rental unit in Copenhagen · ★4.58 · 2 bedrooms...,799887,Bente,NaN,Vesterbro-Kongens Enghave,55.67365,12.55581,Private room,1000,1,378,2022-09-26,2.75,3,0,2,NaN
3,6983,Rental unit in Copenhagen · ★4.78 · 1 bedroom ...,16774,Simon,NaN,Nrrebro,55.68641,12.54741,Entire home/apt,803,3,173,2023-01-02,1.03,1,0,1,NaN
4,339126,Rental unit in Copenhagen · ★4.88 · 2 bedrooms...,1589153,Michael & Bille Max,NaN,Vesterbro-Kongens Enghave,55.67284,12.54717,Entire home/apt,2400,2,77,2023-06-19,0.57,1,128,14,NaN

In [16]:
df.shape

(17027, 18)

In [17]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group               float64
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                           float64
dtype: object

In [18]:
df=df.drop(columns=['neighbourhood_group','license','id','host_id','host_name','calculated_host_listings_count','last_review', 'reviews_per_month', 'number_of_reviews_ltm'])    #drop non-desired columns

In [19]:
df

,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365
0,Rental unit in Copenhagen · ★4.88 · 1 bedroom ...,Vesterbro-Kongens Enghave,55.670590,12.556510,Entire home/apt,1401,4,118,42
1,Rental unit in Copenhagen · ★4.91 · 1 bedroom ...,Nrrebro,55.693880,12.547250,Entire home/apt,793,5,92,5
2,Rental unit in Copenhagen · ★4.58 · 2 bedrooms...,Vesterbro-Kongens Enghave,55.673650,12.555810,Private room,1000,1,378,0
3,Rental unit in Copenhagen · ★4.78 · 1 bedroom ...,Nrrebro,55.686410,12.547410,Entire home/apt,803,3,173,0
4,Rental unit in Copenhagen · ★4.88 · 2 bedrooms...,Vesterbro-Kongens Enghave,55.672840,12.547170,Entire home/apt,2400,2,77,128
...,...,...,...,...,...,...,...,...,...
17022,Guest suite in Copenhagen · ★New · 2 bedrooms ...,Amager st,55.645392,12.633822,Entire home/apt,1260,1,0,362
17023,Rental unit in Copenhagen · ★New · 2 bedrooms ...,Amager Vest,55.666826,12.581515,Entire home/apt,1600,4,0,54
17024,Rental unit in Copenhagen · ★New · 1 bedroom ·...,sterbro,55.710625,12.571924,Entire home/apt,408,1,0,239
17025,Rental unit in Frederiksberg · ★New · 1 bedroo...,Frederiksberg,55.693516,12.535378,Entire home/apt,950,5,0,16
17026,Rental unit in Copenhagen · ★New · 1 bedroom ·...,Vesterbro-Kongens Enghave,55.671265,12.561190,Entire home/apt,995,3,0,359

In [ ]:
#I think that we should separate name column, and then perform statistics, but I'll add summary statistics code anyway

In [21]:
#Also I let's add  Rating from the name column once it's split up
print(df[['price','minimum_nights','number_of_reviews','availability_365']].describe())

               price  minimum_nights  number_of_reviews  availability_365
count   17027.000000    17027.000000       17027.000000      17027.000000
mean     1261.054149        4.506196          17.445175         85.985083
std      1868.683966       15.433537          39.016123        115.196636
min         0.000000        1.000000           0.000000          0.000000
25%       799.000000        2.000000           1.000000          0.000000
50%      1000.000000        3.000000           6.000000         18.000000
75%      1401.000000        4.000000          18.000000        160.000000
max    150364.000000     1111.000000        1178.000000        365.000000

In [29]:
#If we're missing values in one of these 9 filtered columns, we remove that row..
if df['price'].isna().any():
    print(f"Column has missing values.")
else:
    print(f"Column has no missing values. Returning 0.")

Column has no missing values. Returning 0.